:root{
    /*TODO: Microdefaio 1 paleta de colores*/
    --article-line-color:#ebebeb;
    --yellow: #EAC926;
    --blue: #03264C;
    --lblue: #1259c3;
    --dgrey: #666;
    --lgrey: #ebebeb;
    --green: #39b54a;
    /*TODO: Microdefaio 1 tamaños tipograficos*/
    --body-text: 12px;
    --title: 24px; /*Basado en tu última visita/Ofertas*/
    --price: 18px;
    --off: 16px;
    --description: 16px;
    /*TODO: Microdefaio 1 tipografias*/
    --default-font: 'Roboto', sans-serif;


}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: var(--default-font);
    color:black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: var(--lgrey);
    min-width: 348px;
}
/*TODO Debemos centrar la sección main y que ocupe un 90% del ancho de la pantalla.*/
main {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}