@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*TODO: Microdefaio 1 iconos*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');
:root{
    /*TODO: Microdefaio 1 paleta de colores*/
    --article-line-color:#ebebeb;
    --yellow: #EAC926;
    --blue: #03264C;
    --lblue: #1259c3;
    --dgrey: #666;
    --lgrey: #ebebeb;
    --green: #39b54a;
    /*TODO: Microdefaio 1 tamaños tipograficos*/
    --body-text: 12px;
    --title: 24px; /*Basado en tu última visita/Ofertas*/
    --price: 18px;
    --off: 16px;
    --description: 16px;
    /*TODO: Microdefaio 1 tipografias*/
    --default-font: 'Roboto', sans-serif;


}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: var(--default-font);
    color:black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: var(--lgrey);
    min-width: 348px;
}
/*TODO Debemos centrar la sección main y que ocupe un 90% del ancho de la pantalla.*/
main {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/****** menu content *********/
/*Menu Hamburguesa efecto*/

input[type=checkbox] {display: none;}

input[type=checkbox]:checked~.remove-check {display: none;}

input[type=checkbox]:checked~#checkMenu {
    position: unset;
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.5s;
}

#checkMenu {
    transform: translateX(-100px);
    position: absolute;
    opacity: 0;
    display: flex;
    transition: all 0s;
}



.menu {
    background: var(--yellow);
    width: 100%;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}
.menu__oneline-row {width: 100%;}
.menu__row1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.menu__logo {
    height: 37px;
    /*TODO - Logo: tiene que medir el 50% de su contenedor*/
    width: 50%;
}
.menu__logo-img {
    height: 100%;
    object-fit: fill;
    width: 100%;
}

.menu__search-bar {
    display: flex;
    align-items: center;
    /*TODO - Barra de búsqueda: tiene que medir el 50% de su contenedor*/
    width: 50%;
    justify-content: center;
}
form.menu__from-search {
    display: flex;
    width: 100%;
    height: 100%;
}
input#menu__search-bar {
    width: 84%;
}
button.menu__search-btn {
    position: relative;
    right: 30px;
    width: 30px;
}

.menu__row2 {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 17px;
    align-items: baseline;
}
.menu_hand-icon {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px 0px;
    font-size: 17px;
    align-items: baseline;
}
i.fa-solid.fa-hand-holding-dollar {
    font-size: 25px;
    margin-right: 13px;
    height: 100%;
    margin-top: -14px;
}

.menu__burger-box {
    width: 100%;
    overflow: hidden;
}
.menu__burger-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
i.menu__burger-icon {
    background: var(--lblue);
    color: white;
    padding: 10px 7px;
    font-size: 27px;
    border-radius: 9px;
    cursor: pointer;
}

nav.menu__list {
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    /*TODO - Solo para la versión mobile, ocultar el site y el login navbar - (FIRST MOBILE)*/
    visibility: hidden;
}
/*.sub-row_left{}*/
.menu__list-item {
    display: flex;
    padding: 10px;
    background: var(--yellow);
    width: 115px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
a.menu__list-item:hover {
    background-color: var(--blue);
    color: white;
    border-radius: 10px;
}
p.menu__list-item:hover {
    background-color: var(--blue);
    border-radius: 10px;
}
i.menu__list-icon{
    color: inherit;
}
/*.sub-row_right{}
    .menu__list-item*/


/****** PUBLICIDAD *********/
.publicidad {
    width: 100%;
    display: flex;
    justify-content: center;
}
.publicidad__img-box {
    /* height: auto; */
    background: #DEDEDE;
    /* min-height: 150px; */
}
.publicidad__img {
    /* height: 100%; */
    width: 100%;
    /* object-fit: contain; */
}


/****** ARTICULOS *********/
h1.article__title {
    text-align: left;
    width: 100%;
    font-size: var(--title);
    color: var(--dgrey);
    margin: 25px 0px;
}
.article-list-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /*TODO - Entre cada artículo hay una separación de 10 píxeles*/
    gap: 10px;
    justify-content: center;
}
.article__card {
    max-width: 300px;
    background: white;
    transition: box-shadow 1s ease-out;
}
.article__img-overflow {
    max-width: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.article__img {
    max-width: inherit;
    max-height: inherit;
    object-fit: fill;
}

.article__txt {
    /*TODO - Nos piden que la misma tenga un borde superior de 1 píxel, línea sólida y color #ebebeb*/
    border-top: 1px solid var(--article-line-color);
    /*TODO- Debe tener separado el contenido de sus bordes en 15 píxeles en cada uno de sus lados*/
    padding: 15px;
}

.article__camion-icon {
    position: relative;
    top: -35px;
    left: 68%;
    color: green;
    padding: 5px;
    background: white;
    border-radius: 50%;
    font-size: 16px;
    border: 1px solid var(--green);
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.article__prices-box {
    margin-top: -18px;
    /*TODO - Lograr que el precio y el descuento de los artículos estén en el mismo renglón*/
    display: flex;
    gap: 10px;
    width: 100%;
}
.article__price{
    font-size: var(--price);
    /*TODO - El precio ocupa el 30%*/
    width: 30%;
}
.article__off{
    font-size: var(--off);
    color: var(--green);
    /*TODO - El descuento el 70% del total del renglón*/
    width: 70%;
}

/*.article__description-box*/
.article__description-box{
    /*TODO - Solo en el caso mobile la descripción del artículo no se visualizará (MOBILE FIRST)*/
    display: none;
    font-size: var(--description);
}


/****** FOOTER *********/
footer.foo_box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background: white;
    margin-top: 12px;
}
article.foo__article {
    /*width: 360px;*/
    margin: 19px;
}
.foo__articles-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
i.foo__icon {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--lblue);
}
p.foo__title {
    font-size: var(--price);
}
p.foo__desc {
    font-size: var(--description);
}

.copyr-box {
    width: 100%;
}

/*TODO - Agregar box-shadow. Para los dispositivos tablet o de resoluciones superiores*/
@media (min-width: 481px ) {
    .article__card:hover{
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
}
/*Navegación en tablets (ancho mínimo 361 px)*/
@media (min-width: 481px ) and  (max-width: 1279px ) {
    .menu__row1{
        width: 66.6%;
    }
    .article__description-box{
        display: initial;
    }
    .menu__row2{
        width: 33.3%;
    }
    .container{
        /*TODO Navegación en tablets (ancho mínimo 361 px)*/
        min-width: 361px;
    }

    .article{
        /* TODO - ¿Qué debemos modificar para que, aplicando Flexbox,
        solo se vea un artículo si estamos en mobile, dos artículos para tablet?*/
        max-width: 898px;
    }

    .articles-list-box {
        justify-content: space-around;
    }
    .foo__articles-box{
        flex-direction: column;
    }
}
/*Navegación en desktop (ancho mínimo 769 px)*/
@media (min-width: 1280px ){
    .container{
        /*TODO - Navegación en desktop (ancho mínimo 769 px)*/
        min-width: 769px;
    }
    .article__description-box{
        display: initial;
    }
    .menu__row1{
        width: 66.6%;
    }
    .menu__row2{
        width: 33.3%;
    }
    .articles-list-box {
        justify-content: space-around;
    }

    .article{
        /*TODO - ¿Qué debemos modificar para que, aplicando Flexbox,
        solo se vea un artículo si estamos en mobile, cuatro artículos
        para la versión desktop?*/
        min-width: 1241px;
    }

    .foo__articles-box{
        flex-direction: row;
    }
}

@media (min-width: 481px) {
    .article__description-txt{
        display: initial;
    }
    .menu__burger-icon {
        /*TODO - Ocultar la imagen del menú hamburguesa para las versiones desktop y tablet*/
        display: none;
    }
    #checkMenu  {
        display: flex;
        /*TODO - Para las versiones desktop y tablet mostrar el site y login navbar*/
        visibility: visible;
        transform: scale(1);
        position: unset;
        opacity: 1;
        transition: all 0s;
        align-items: center;
        justify-content: center;
    }

    .menu__menu_row1{
        width: 66.66%;
    }
    .menu__menu_row2{
        width: 33.33%;
    }

    .menu_hand-icon{
        margin: 0;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    nav.menu__list {
        flex-direction:row;
        justify-content: space-between;
    }
    .menu__oneline-row {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 27px;
    }
    .sub-row_left {
        flex-direction: row;
        display: flex;
    }

    .sub-row_right {
        flex-direction: row;
        display: flex;
    }



}
@media (min-width: 989px) {
    #checkMenu {
        justify-content: space-between;
    }
}