@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*TODO: Microdefaio 1 iconos*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');
@import url('/css/layouts/menu.css');
@import url('/css/layouts/footer.css');
@import url('/css/root.css');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: var(--default-font);
    color:black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: var(--lgrey);
    min-width: 348px;
}
/*TODO Debemos centrar la sección main y que ocupe un 90% del ancho de la pantalla.*/
main {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/****** PUBLICIDAD *********/
.publicidad {
    width: 100%;
    display: flex;
    justify-content: center;
}
.publicidad__img-box {
    background: #DEDEDE;
}
.publicidad__img {
    width: 100%;
}


/****** ARTICULOS *********/
h1.article__title {
    text-align: left;
    width: 100%;
    font-size: var(--title);
    color: var(--dgrey);
    margin: 25px 0px;
}
.article-list-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /*TODO - Entre cada artículo hay una separación de 10 píxeles*/
    gap: 10px;
    justify-content: center;
}
.article__card {
    max-width: 300px;
    background: white;
    transition: box-shadow 1s ease-out;
}
.article__img-overflow {
    max-width: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.article__img {
    max-width: inherit;
    max-height: inherit;
    object-fit: fill;
}

.article__txt {
    /*TODO - Nos piden que la misma tenga un borde superior de 1 píxel, línea sólida y color #ebebeb*/
    border-top: 1px solid var(--article-line-color);
    /*TODO- Debe tener separado el contenido de sus bordes en 15 píxeles en cada uno de sus lados*/
    padding: 15px;
}

.article__camion-icon {
    position: relative;
    top: -35px;
    left: 68%;
    color: green;
    padding: 5px;
    background: white;
    border-radius: 50%;
    font-size: 16px;
    border: 1px solid var(--green);
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.article__prices-box {
    margin-top: -18px;
    /*TODO - Lograr que el precio y el descuento de los artículos estén en el mismo renglón*/
    display: flex;
    gap: 10px;
    width: 100%;
}
.article__price{
    font-size: var(--price);
    /*TODO - El precio ocupa el 30%*/
    width: 30%;
}
.article__off{
    font-size: var(--off);
    color: var(--green);
    /*TODO - El descuento el 70% del total del renglón*/
    width: 70%;
}

.article__description-box{
    /*TODO - Solo en el caso mobile la descripción del artículo no se visualizará (MOBILE FIRST)*/
    display: none;
    font-size: var(--description);
}

/*TODO - Agregar box-shadow. Para los dispositivos tablet o de resoluciones superiores*/
@media (min-width: 481px ) {
    .article__card:hover{
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
}

@media (min-width: 1280px){
    .article__description-box {
        display: initial;
    }
}