@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');
@import url('/css/root.css');
/****** MENU *********/
@import url('/css/layouts/menu.css');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: var(--default-font);
    color:black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: var(--lgrey);
    min-width: 348px;
}
main {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*FORM*/
.form.form-box {
    min-height: 350px;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form form {width: inherit;min-width: 270px}

.form input#username {
    width: 100%;
    height: 30px;
}

.form input#password {
    width: 100%;
    height: 30px;
}

.form input {
    margin: 13px 0;
}

.form input[type="submit"] {
    height: 39px;
    width: 100%;
    background: var(--blue);
    color: white;
    border-radius: 8px;
}

.form input[type="submit"]:hover {
    background: #0000fb;
    border: 4px solid #3838ff;
    box-shadow: 1px 1px 7px rgb(0 75 213);
}
.form input:invalid:focus  {
    color:red;
}



/****** FOOTER *********/
footer.foo_box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background: white;
    margin-top: 12px;
    justify-content: center;
}
article.foo__article {
    margin: 19px;
}
.foo__articles-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
i.foo__icon {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--lblue);
}
p.foo__title {
    font-size: var(--price);
}
p.foo__desc {
    font-size: var(--description);
}

.copyr-box {
    width: 100%;
}


/*Navegación en TABLET */
@media (min-width: 481px ) and  (max-width: 1279px ) {
    .menu__row1{
        width: 66.6%;
    }

    .menu__row2{
        width: 33.3%;
    }
    .container{
        min-width: 361px;
    }

    .foo__articles-box{
        flex-direction: column;
    }
}
/*Navegación en DESKTOP*/
@media (min-width: 1280px ){
    .container{
        min-width: 769px;
    }

    .menu__row1{
        width: 66.6%;
    }
    .menu__row2{
        width: 33.3%;
    }


    .foo__articles-box{
        flex-direction: row;
    }
}

/*Burger Menu SHOW & HIDE*/
@media (min-width: 481px) {
    .article__description-txt{
        display: initial;
    }
    .menu__burger-icon {
        /*TODO - Ocultar la imagen del menú hamburguesa para las versiones desktop y tablet*/
        display: none;
    }
    #checkMenu  {
        display: flex;
        /*TODO - Para las versiones desktop y tablet mostrar el site y login navbar*/
        visibility: visible;
        transform: scale(1);
        position: unset;
        opacity: 1;
        transition: all 0s;
        align-items: center;
        justify-content: center;
    }

    .menu__menu_row1{
        width: 66.66%;
    }
    .menu__menu_row2{
        width: 33.33%;
    }

    .menu_hand-icon{
        margin: 0;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    nav.menu__list {
        flex-direction:row;
        justify-content: space-between;
    }
    .menu__oneline-row {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 27px;
    }
    .sub-row_left {
        flex-direction: row;
        display: flex;
    }

    .sub-row_right {
        flex-direction: row;
        display: flex;
    }



}

/*Solo para centrar el menu en ese tamaño*/
@media (min-width: 989px) {
    #checkMenu {
        justify-content: space-between;
    }
}