<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>MercadoLiebre</title>
</head>
<body>
    <div class="container">
        <section class="menu" >
            <div class="menu_row1">
                <div class="menu__logo">
                    <img class="menu__logo-img" src="/img/logo-mercado-liebre.svg" alt="Kiwi standing on oval">
                </div>
                <div class="menu__search-bar">
                    <form>
                        <label for="menu__search-bar"></label>
                        <input type="text" id="menu__search-bar">
                        <button>
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
            <nav class="menu__list">
                <a class="menu__list-item" href="">Ofertas</a>
                <a class="menu__list-item" href="">Tiendas Oficiales</a>
                <a class="menu__list-item" href="">Vender</a>
                <a class="menu__list-item" href="">Ayuda</a>
                <a class="menu__list-item" href="">Creá tu cuenta</a>
                <a class="menu__list-item" href="">Ingresá</a>
                <a class="menu__list-item" href="">Mis compras</a>
            </nav>
        </section>
        <article class="publicidad"></article>
        <section class="articles articles-list-bones">
            <article class="articles__card">

            </article>
        </section>
        <article class="promociones-bancarias"></article>
        <footer></footer>
    </div>
</body>
</html>